<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hello1">

    <application>
        <activity android:name=".progressActivity"></activity>
        <activity android:name=".splashActivity" />
        <activity android:name=".CoursesActivity" />
    </application>

</manifest>